:root {
    --jumbo: #22577a;
    --variantOne: #38a3a5;
    --variantTwo: #57cc99;
    --variantThree: #80ed99;
    --variantFour: #c7f9cc;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
    background-color: var(--variantFour);
}

.banner{
    padding: 5rem;
}

.jumbotron{
    background-color: var(--variantOne);
}

#jumbo-padding{
    padding: 5rem;
}

i:hover{
    color: aqua;
}
